<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.diagnostics>
    <switches>
      <add name="fixmlOriginalXml" value="0"/>
      <add name="fixmlFormattedXml" value="0"/>
      <add name="fixmlParsedMessage" value="0"/>
      <add name="fixmlInternals" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>
